.DS_Store
.log
.sonar
*.class
.gradle

junitvmwatcher*.properties
TEST-*.xml
junit*.properties

# -----------------------------------------------------------
# MPS project
workspace.xml
libraries.xml

# -----------------------------------------------------------
# MPS languages and solutions
classes_gen
source_gen
source_gen.caches
result_gen
test_gen
test_gen.caches

# -----------------------------------------------------------
# MPS builds
# build/**
!build.xml
build.properties

# -----------------------------------------------------------
# MPS tests


# -----------------------------------------------------------
# Temp folders
**/temp

# Package Files #
*.jar
*.war
*.ear
*.zip

nexus/mps
!gradle/**